*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #3182CE;
    height: 50px;
    align-items: center;
    
}
@media (max-width: 576px){
    nav{
        height: 150px;
    }
    .links a{
        display: block;
        width: 100%;
       
        
   }
}
.logo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.links a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    
}
.main{
    width: 100%;
    height:100vh;
    background-image:url("images/R.jfif");
    background-size:100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.main h1{
    color:#0008C1 ;
    font-size: 60px;
    
    
}
.whats{
    color: green;
    text-decoration: none;
}
.profile{
    width: 100%;
    height: 100vh;
    background-color: #2b6cb0;
    background-size: 100% 100%;
    
}
   @media (max-width: 576px){
    .profile .container{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        
   }
   .profile{
    height: 140vh;
    
   }
   .container{
    width: auto;
   }
}
@media (max-width: 768px){
    .profile .container{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        
   }
   .profile{
    height: 150vh;
    
   }
   .container{
    width: auto;
   }



}
@media (max-width: 991px){
    .container{
        width: auto;
       }

}

.profile .title{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
.container{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    margin-top: 150px;
    
    
   
}
.car{
    background-color: white;
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    
}
.money{
    background-color: white;
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
}
.bolt{
    background-color: white;
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
}
.container i{
    color: #276A9A;
    font-size: 30px;
    margin-top: 20px;
}
.container h1{
    color:#276A9A ;
    margin-top: 15px;
}
.container p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
}
.year{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 576px){
    .year{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 768px){
    .year{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        
   }
}
.year img{
    margin-top: 20px;
}
.fridge{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.fridge img{
    margin-left: -160px;
}
@media (max-width: 576px){
    .fridge{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 768px){
    .fridge{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        
   }
}
.contact1{
    background-color: #276A9A;
    width: 100%;
    height: 300px;
    
}
.contact1 h1{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp{
    margin: 50px;
    
    
}
.whatsapp i{
    color: green;
    font-size: 55px;
}
.whatsapp p{
    color: white;
    margin-top: 10px;
}
.facebook{
    margin: 45px;
    margin-top: -1px;
}
.facebook i{
    color: #0008C1;
    font-size:50px ;
}
.facebook a{
    text-decoration: none;
    color: white;
    margin-top: 30px;
}




